body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u814 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u815 {
  position:absolute;
  left:928px;
  top:7px;
  width:29px;
  height:16px;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u817 {
  position:absolute;
  left:979px;
  top:7px;
  width:29px;
  height:16px;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u819 {
  position:absolute;
  left:1033px;
  top:7px;
  width:57px;
  height:16px;
}
#u820 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821 {
  position:absolute;
  left:1113px;
  top:7px;
  width:57px;
  height:16px;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  position:absolute;
  left:10px;
  top:7px;
  width:113px;
  height:16px;
}
#u824 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:90px;
}
#u826 {
  position:absolute;
  left:0px;
  top:30px;
  width:174px;
  height:89px;
}
#u827 {
  position:absolute;
  left:2px;
  top:36px;
  width:170px;
  word-wrap:break-word;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u828 {
  position:absolute;
  left:264px;
  top:82px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u830 {
  position:absolute;
  left:365px;
  top:82px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u831 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u832 {
  position:absolute;
  left:493px;
  top:82px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u834 {
  position:absolute;
  left:617px;
  top:82px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u835 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:133px;
}
#u837 {
  position:absolute;
  left:0px;
  top:1925px;
  width:1200px;
  height:133px;
}
#u838 {
  position:absolute;
  left:2px;
  top:58px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u839 {
  position:absolute;
  left:86px;
  top:1932px;
  width:120px;
  height:120px;
}
#u840 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  word-wrap:break-word;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u841 {
  position:absolute;
  left:354px;
  top:1968px;
  width:57px;
  height:16px;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u843 {
  position:absolute;
  left:480px;
  top:1968px;
  width:57px;
  height:16px;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u845 {
  position:absolute;
  left:596px;
  top:1968px;
  width:57px;
  height:16px;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u847 {
  position:absolute;
  left:716px;
  top:1968px;
  width:57px;
  height:16px;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u849 {
  position:absolute;
  left:842px;
  top:1968px;
  width:57px;
  height:16px;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u851 {
  position:absolute;
  left:366px;
  top:2016px;
  width:520px;
  height:16px;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  white-space:nowrap;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u853 {
  position:absolute;
  left:10px;
  top:143px;
  width:171px;
  height:16px;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:26px;
}
#u855 {
  position:absolute;
  left:495px;
  top:201px;
  width:211px;
  height:52px;
  text-align:center;
  line-height:26px;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:1160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
  line-height:40px;
}
#u857 {
  position:absolute;
  left:159px;
  top:287px;
  width:145px;
  height:1160px;
  font-size:16px;
  text-align:right;
  line-height:40px;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u859 {
  position:absolute;
  left:314px;
  top:291px;
  width:430px;
  height:30px;
}
#u859_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u860 {
  position:absolute;
  left:314px;
  top:331px;
  width:430px;
  height:30px;
}
#u860_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u861 {
  position:absolute;
  left:314px;
  top:371px;
  width:199px;
  height:30px;
}
#u861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u862 {
  position:absolute;
  left:314px;
  top:401px;
  width:120px;
  height:120px;
}
#u863 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  word-wrap:break-word;
}
#u864 {
  position:absolute;
  left:314px;
  top:531px;
  width:430px;
  height:30px;
}
#u864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u865 {
  position:absolute;
  left:314px;
  top:571px;
  width:430px;
  height:30px;
}
#u865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u866 {
  position:absolute;
  left:444px;
  top:505px;
  width:199px;
  height:16px;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u868 {
  position:absolute;
  left:314px;
  top:612px;
  width:199px;
  height:30px;
}
#u868_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u869 {
  position:absolute;
  left:314px;
  top:642px;
  width:120px;
  height:120px;
}
#u870 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  position:absolute;
  left:444px;
  top:746px;
  width:199px;
  height:16px;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u873 {
  position:absolute;
  left:314px;
  top:772px;
  width:430px;
  height:30px;
}
#u873_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u874 {
  position:absolute;
  left:314px;
  top:812px;
  width:430px;
  height:30px;
}
#u874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u875 {
  position:absolute;
  left:314px;
  top:852px;
  width:430px;
  height:30px;
}
#u875_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u876 {
  position:absolute;
  left:314px;
  top:892px;
  width:430px;
  height:30px;
}
#u876_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u877 {
  position:absolute;
  left:314px;
  top:932px;
  width:199px;
  height:30px;
}
#u877_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u878 {
  position:absolute;
  left:314px;
  top:962px;
  width:120px;
  height:120px;
}
#u879 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  word-wrap:break-word;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u880 {
  position:absolute;
  left:444px;
  top:1066px;
  width:199px;
  height:16px;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u882 {
  position:absolute;
  left:314px;
  top:1093px;
  width:199px;
  height:30px;
}
#u882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u883 {
  position:absolute;
  left:314px;
  top:1123px;
  width:120px;
  height:120px;
}
#u884 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  position:absolute;
  left:444px;
  top:1227px;
  width:199px;
  height:16px;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u887 {
  position:absolute;
  left:314px;
  top:1489px;
  width:658px;
  height:259px;
}
#u887_input {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:259px;
}
#u888 {
  position:absolute;
  left:314px;
  top:1449px;
  width:658px;
  height:30px;
}
#u888_input {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u889 {
  position:absolute;
  left:314px;
  top:1417px;
  width:120px;
  height:22px;
}
#u889_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u889_input:disabled {
  color:grayText;
}
#u890 {
  position:absolute;
  left:463px;
  top:1417px;
  width:120px;
  height:22px;
}
#u890_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u890_input:disabled {
  color:grayText;
}
#u891 {
  position:absolute;
  left:609px;
  top:1417px;
  width:120px;
  height:22px;
}
#u891_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u891_input:disabled {
  color:grayText;
}
#u892 {
  position:absolute;
  left:314px;
  top:1768px;
  width:199px;
  height:16px;
}
#u893 {
  position:absolute;
  left:16px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u892_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u894 {
  position:absolute;
  left:314px;
  top:1253px;
  width:199px;
  height:30px;
}
#u894_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u895 {
  position:absolute;
  left:314px;
  top:1283px;
  width:120px;
  height:120px;
}
#u896 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  position:absolute;
  left:444px;
  top:1387px;
  width:199px;
  height:16px;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u899 {
  position:absolute;
  left:314px;
  top:1836px;
  width:142px;
  height:37px;
  font-size:16px;
}
#u900 {
  position:absolute;
  left:2px;
  top:9px;
  width:138px;
  word-wrap:break-word;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u901 {
  position:absolute;
  left:517px;
  top:1836px;
  width:142px;
  height:37px;
  font-size:16px;
}
#u902 {
  position:absolute;
  left:2px;
  top:9px;
  width:138px;
  word-wrap:break-word;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#66CCFF;
  line-height:24px;
}
#u904 {
  position:absolute;
  left:1189px;
  top:1417px;
  width:281px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#66CCFF;
  line-height:24px;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u906 {
  position:absolute;
  left:1178px;
  top:1435px;
  width:0px;
  height:0px;
}
#u906_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:7px;
}
#u906_seg1 {
  position:absolute;
  left:-57px;
  top:-1px;
  width:61px;
  height:8px;
}
#u906_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u907 {
  position:absolute;
  left:-77px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#66CCFF;
  line-height:24px;
}
#u908 {
  position:absolute;
  left:754px;
  top:1767px;
  width:379px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#66CCFF;
  line-height:24px;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u910 {
  position:absolute;
  left:742px;
  top:1776px;
  width:0px;
  height:0px;
}
#u910_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:7px;
}
#u910_seg1 {
  position:absolute;
  left:-57px;
  top:-1px;
  width:61px;
  height:8px;
}
#u910_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u911 {
  position:absolute;
  left:-77px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#66CCFF;
  line-height:24px;
}
#u912 {
  position:absolute;
  left:754px;
  top:1819px;
  width:309px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#66CCFF;
  line-height:24px;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u914 {
  position:absolute;
  left:742px;
  top:1852px;
  width:0px;
  height:0px;
}
#u914_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:7px;
}
#u914_seg1 {
  position:absolute;
  left:-57px;
  top:-1px;
  width:61px;
  height:8px;
}
#u914_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u915 {
  position:absolute;
  left:-77px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#66CCFF;
  line-height:24px;
}
#u916 {
  position:absolute;
  left:933px;
  top:215px;
  width:309px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#66CCFF;
  line-height:24px;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u918 {
  position:absolute;
  left:921px;
  top:224px;
  width:0px;
  height:0px;
}
#u918_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:7px;
}
#u918_seg1 {
  position:absolute;
  left:-57px;
  top:-1px;
  width:61px;
  height:8px;
}
#u918_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u919 {
  position:absolute;
  left:-77px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u920 {
  position:absolute;
  left:1249px;
  top:12px;
  width:130px;
  height:50px;
  text-align:center;
}
#u921 {
  position:absolute;
  left:0px;
  top:9px;
  width:130px;
  word-wrap:break-word;
}
